@model WebApplication1.ViewModels.Home.Index


<div class="text-center">
    <h1 class="display-4">
        Bienvenu sur la page @Model.Title
        
    </h1>
    
    <p>Profil de votre collègue Lyes 
         
        <a href="https://app.diagrams.net/" target="_blank">
            Lien vers notre modèle de données   
        </a>
        Thierry et Lyes.

    </p>

</div>
